.block {
    width: 760px;
    height: 1000px;
    background-color: red;
    margin: 20px;
}

.block {
    width: 240px;
    height: 760px;
    background-color: blue;
    margin: 20px;
}